<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RabbitHostName" value="#{RabbitHostName}#"/>
    <add key="RabbitUserName" value="#{RabbitUserName}#"/>
    <add key="RabbitPassword" value="#{RabbitPassword}#"/>
    <add key="RabbitExchange" value="#{RabbitExchange}#"/>
    <add key="RabbitRoutingKey" value="#{RabbitRoutingKey}#"/>
    <add key="DataDeliveryQueueName" value="#{DataDeliveryQueueName}#"/>
    <add key="BlaiseServerHostName" value="#{BlaiseServerHostName}#"/>
    <add key="BlaiseServerUserName" value="#{BlaiseServerUserName}#"/>
    <add key="BlaiseServerPassword" value="#{BlaiseServerPassword}#"/>
    <add key="BlaiseServerBinding" value="#{BlaiseServerBinding}#"/>
  </appSettings>
</configuration>