<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="RabbitHostName" value="localhost"/>
    <add key="RabbitUserName" value="guest"/>
    <add key="RabbitPassword" value="guest"/>
    <add key="RabbitExchange" value="BSM_Exchange"/>
    <add key="RabbitQueueSuffix" value=""/>
    <add key="RabbitRoutingKey" value=""/>
    <add key="SpsAscFileLocation" value="c:\dde_out"/>
    <add key="DataDeliveryQueueName" value="jc_test_queue"/>
    <add key="BlaiseServerHostName" value="localhost"/>
    <add key="BlaiseServerUserName" value="Root"/>
    <add key="BlaiseServerPassword" value="Root"/>
    <add key="BlaiseServerBinding" value="HTTP"/>
  </appSettings>
</configuration>

