<log4net>

  <appender name="console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message %newline" />
    </layout>
  </appender>

  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <datePattern value="'bus_'yyyy-MM-dd'.log'"/>
    <file value="logs\" />
    <maxSizeRollBackups value="10" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message %newline" />
    </layout>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>

</log4net>
