<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="RabbitHostName" value="#{RabbitHostName}#" />
    <add key="RabbitUserName" value="#{RabbitUserName}#" />
    <add key="RabbitPassword" value="#{RabbitPassword}#" />
    <add key="RabbitExchange" value="#{RabbitExchange}#" />
    <add key="DataDeliveryQueueName" value="#{DataDeliveryQueueName}#" />
    <add key="DataDeliveryRoutingKey" value="#{DataDeliveryRoutingKey}#" />
    <add key="StatusUpdateQueueName" value="#{StatusUpdateQueueName}#" />
    <add key="StatusUpdateRoutingKey" value="#{StatusUpdateRoutingKey}#" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>