<log4net>
  
  <appender name="console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message %newline" />
    </layout>
  </appender>

  <!-- set datepattern to “-yyyyMMdd” - it will maintain a log backup for each day - maxSizeRollBackups ( in previous config ) is not required now as its not supported in Log4Net with Date rollingStyle -->
  <appender name="file" type="log4net.Appender.RollingFileAppender">    
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <staticLogFileName value="true" />    
    <datePattern value="yyyy-MM-dd'.log'"/>
    <file value="logs\data-delivery.log" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message %newline" />
    </layout>
  </appender>
  
  <root>
    <level value="ALL" />
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>
  
</log4net>