<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blaise.Queue" version="2020.4.1.5" targetFramework="net472" />
  <package id="Blaise.Queue.Contracts" version="2020.4.1.5" targetFramework="net472" />
  <package id="BouncyCastle.OpenPgp" version="1.8.1.1" targetFramework="net472" />
  <package id="DotNetZip" version="1.13.7" targetFramework="net472" />
  <package id="Google.Api.Gax" version="2.10.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Rest" version="2.10.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.42.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.42.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.42.0" targetFramework="net472" />
  <package id="Google.Apis.Storage.v1" version="1.42.0.1744" targetFramework="net472" />
  <package id="Google.Cloud.Storage.V1" version="2.5.0" targetFramework="net472" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="2.2.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="RabbitMQ.Client" version="5.1.2" targetFramework="net472" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net472" />
  <package id="Unity" version="5.11.4" targetFramework="net472" />
</packages>